%transition-desc
	transition: .35s ease
body
	font-size: 16px
	scrollbar-color: #D5D5D5 #ECECEC
	scrollbar-width: 3px
	::-webkit-scrollbar
		+wh(6px)
		background-color: transparent
		border-radius: 3px
	::-webkit-scrollbar-thumb
		background-color: #D5D5D5
		border-radius: 3px

.section
	+w($desktop-width)
.button
	&:hover
		background-color: $viol

.select
	&-head
		&:hover
			background-color: $viol

.head
	&-logo,&-logout
		@extend %transition-desc
	&-logo
		&:hover
			color: $orange
	&-logout
		&:hover
			transform: scale(1.15)

.main-page
	&-link
		padding-top: 96px
		padding-bottom: 43px
		&:hover
			background-color: $viol
			color: $white
		img
			height: 150px
			margin-bottom: 40px
		span
			height: initial

.card
	.title
		margin-bottom: 44px

.pupil
	margin-top: 45px
	&-photo
		&-button.close
			&:hover
				transform: scale(1.15)
		&-add:hover
			&+.add
				transform: scale(1.15)
.journal
	&-row
		justify-content: flex-start
		.block
			margin-left: 18px
			padding: 0
	&-link
		transition: .35s ease
		&:hover
			color: $blue
	&-body
		margin-top: 45px
.list
	&-title
		font-size: 20px
	table
		button
			@extend %transition-desc
			&:hover
				transform: scale(1.5)

.tabs
.marks
	&-table
		div
			height: 100px