.section
	+w($mobile-width)
	margin: auto

.button
	@extend %transition
	min-width: 118px
	height: 30px
	border-radius: 5px
	background-color: $orange
	font-family: $f_bold
	color: $white
	font-size: 12px
	text-transform: uppercase
	span
		@extend %transition
		display: block
	&:active
		box-shadow: inset 0 0 8px rgba($black,.5)

.select
	width: 175px
	position: relative
	&-head,&-body,&-option
		width: 100%
		border-radius: 5px
	&-head,&-option
		+font(12px,$f_bold,$white)
		padding: 0 12px
		text-transform: uppercase
	&-head
		@extend %dfi
		@extend %transition
		height: 30px
		background-color: $orange
		&:active
			box-shadow: inset 0 0 8px rgba($black,.5)
		&.choosen
			background-color: $viol
	&-body
		@extend %transition
		height: 0
		overflow: auto
		position: absolute
		top: 30px
		left: 0
		z-index: 99
	&-option
		height: 25px
		margin-top: 3px
		background-color: $gray_light
		box-shadow: 0 2px 2px rgba(0,0,0,.25)
		text-align: left
		color: $black
	&.active
		.select
			&-head
				background-color: $viol
			&-body
				height: 110px
	&.wide
		width: 100%

.title
	+font(20px,$f_bold,$black)
	text-align: center
	text-transform: uppercase
.subtitle
	+font(16px,$f_bold,$black)
	text-transform: uppercase

.form
	@extend %dfc
	flex-direction: column
	&-select,&-input
		width: 218px
		margin-bottom: 17px
	&-input
		height: 40px
		padding: 0 12px
		border: 1px solid $blue
		border-radius: 3px
		background-color: $white
	&-submit
		width: initial!important
		padding: 0 17px

main
	padding-top: 60px
.head
	width: 100%
	padding: 10px 0
	background-color: $white
	box-shadow: 0 5px 5px rgba(0,0,0,.1)
	position: fixed
	top: 0
	left: 0
	z-index: 100
	&-row
		@extend %dfa
	&-logo
		+font(18px,$f_heavy,$blue)
		min-width: 83px
		margin-right: auto
		text-transform: uppercase
	&-name
		overflow: hidden
		white-space: pre
		text-overflow: ellipsis
	&-logout
		margin-left: auto
		margin-bottom: -4px

.login
	@extend %transition
	+wh(100%)
	background-color: $gray
	position: fixed
	top: 0
	left: 0
	z-index: 10000
	opacity: 0
	visibility: hidden
	&.active
		opacity: 1
		visibility: visible
		.form
			transform: scale(1)
	&-title
		+font(48px,$f_heavy,$blue)
		opacity: .75
		text-transform: uppercase
	&-subtitle
		margin-top: -8px
		margin-bottom: 30px
		text-transform: uppercase
	&-form
		@extend %transition
		+wh(100%)
		transform: scale(.5)
		position: fixed

.main-page
	&-row
		@extend %dfi
		flex-wrap: wrap
		margin-top: 20px
	&-link
		@extend %dfc
		@extend %transition
		width: 100%
		margin-bottom: 10px
		padding: 30px 10px
		border-radius: 3px
		flex-direction: column
		background-color: $white
		img
			height: 100px
			margin-bottom: 20px
		span
			height: 32px
			text-align: center
			overflow: hidden

.card
	.title
		margin-bottom: 20px
	&-block
		margin-bottom: 10px
		padding: 13px 10px
		border-radius: 7px
		background-color: $white
	.button
		width: 100%
	&-button
		&-cont
			margin-top: 10px
			&.active
				.card
					&-form
						max-height: 353px
						padding: 17px 15px 12px
					&-button
						.button
							background-color: $viol
	&-form
		@extend %transition
		max-height: 0
		padding: 0 15px
		overflow: hidden

.filter
	&-select
		margin-top: 10px

.table
	overflow: auto
	&-head
		border-bottom: 1px solid $blue
		span,div
			+font(16px,$f_bold,$black)
			margin-bottom: -1px
			border-bottom: 1px solid $blue
			text-transform: uppercase
	&-row,&-head
		@extend %df
		div,span
			@extend %dfa
			width: 150px
			height: 55px
			padding-left: 15px
	&-row
		&:nth-child(2n - 1)
			&,div,span
				background-color: #F0F0F3
	&-number
		flex: 0 0 50px
	&-action
		flex: 0 0 100px
		button,a
			margin-right: 7px
			&:last-child
				margin-right: 0
	&-second
		flex: 0 0 200px
	&-name,&-father
		flex: 0 0 170px
	&-class
		flex: 0 0 130px
	&-address
		flex: 0 0 313px

.pupil
	@extend %df
	margin-top: 10px
	margin-bottom: 10px
	flex-wrap: wrap
	&-info,&-photo
		width: 100%
		background: #FFFFFF
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
		border-radius: 3px
	&-info
		padding: 10px 10px 30px
		order: 2
	&-buttons
		width: 100%
		display: flex
		flex-wrap: wrap
		&-cont
			margin-bottom: 10px
	&-button
		&-cont
			flex: 0 0 100%
			margin-top: 10px
			&.active
				&>button
					background-color: $viol
				.pupil
					&-form
						max-height: 1000px
						padding-top: 12px
						padding-bottom: 27px
	&-input
		width: 218px
		padding: 12px
		background-color: $white
		border-radius: 3px
		border: 1px solid $blue
		&-block
			@extend %dfi
			margin-bottom: 10px
			flex-wrap: wrap
			&:last-child
				margin-bottom: 0
			span
				flex: 0 0 100%
	&-photo
		@extend %dfc
		height: 150px
		margin-bottom: 20px
		padding: 10px 60px
		position: relative
		img
			+wh(100%)
			object-fit: contain
		&-button
			@extend %dfc
			+wh(17px)
			position: absolute
			border-radius: 3px
			background-color: $orange
			top: 10px
			right: 10px
			&.add
				img
					transform: rotate(45deg)
			&.close
				right: 37px
		&-add
			+wh(17px)
			opacity: 0
			position: absolute
			top: 10px
			right: 10px
			z-index: 1
	&-form
		@extend %transition
		padding: 0 16px
		max-height: 0
		overflow: hidden
	&-parents
		.row
			@extend %df
			flex-wrap: wrap
			justify-content: space-between
		.button
			margin: 0 auto
		.col
			@extend %dfc
			padding: 10px
			flex-direction: column
			input
				margin-top: 10px

.journal
	&-row
		padding: 10px
		margin-top: 10px
		box-shadow: 0 2px 2px rgba(0,0,0,.25)
		border-radius: 3px
		background-color: $white
		.block
			margin-top: 10px
			text-align: center
			&:first-child
				margin-top: 0
	&-link
		font-family: $f_medium
		&.active
			color: $blue
	&-body
		height: calc(100vh - 295px)
		margin-top: 10px
		padding: 10px
		background: #FFFFFF
		box-shadow: 0 2px 2px rgba(0,0,0,.25)
		border-radius: 5px
.list
	overflow: auto
	&-title
		font-family: $f_medium
		text-align: center
	table
		min-width: 100%
		border-collapse: collapse
		tbody
			border-top: 1px solid $blue
			tr
				&:nth-child(2n - 1)
					background-color: #F0F0F3
		td,th
			&:last-child,&:first-child
				text-align: center
				div
					text-align: center
		div
			padding: 10px 5px
			text-align: left
		button
			&:first-child
				margin-right: 5px
	&-pop
		&-title
			font-family: $f_bold
			font-size: 18px
			text-transform: uppercase
		&-inner
			width: 300px
			max-height: 80vh
			padding: 25px 20px
			background-color: $white
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
			border-radius: 3px
			overflow: auto
			input,textarea
				width: 218px
				padding: 12px
				border: 1px solid $blue
				font-family: $f_reg
				font-size: 14px
			textarea
				height: 80px
				resize: none
			a
				@extend %dfc
				width: 118px
				margin: 0 auto
		.block
			margin-top: 18px
			&>span
				display: block
				margin-bottom: 8px

.pop
	+wh(100%)
	+dfc
	position: fixed
	top: 0
	left: 0
	z-index: 10000
	opacity: 0
	visibility: hidden
	@extend %transition
	&.active
		opacity: 1
		visibility: visible
	&-bgc
		+wh(100%)
		background-color: rgba(0,0,0,.2)
		position: absolute
	&-inner
		position: relative
		z-index: 1
.tabs
	height: 100%
	.labels-row
		@extend %dfa
		border-bottom: 1px solid $blue
		label
			padding: 5px 0
			box-shadow: -1px -1px 2px rgba(0,0,0,.25)
			border-radius: 10px 10px 0 0
			font-family: $f_bold
			text-align: center
	&-row
		@extend %df
		height: calc(100% - 31px)
		overflow: hidden
		.tab
			@extend %transition
			flex: 0 0 100%

#tab-1:checked ~ .labels-row label:first-child,
#tab-2:checked ~ .labels-row label:nth-child(2),
#tab-3:checked ~ .labels-row label:nth-child(3),
#tab-4:checked ~ .labels-row label:nth-child(4)
	background-color: $orange
	color: $white
#tab-2:checked ~ .tabs-row .tab-1,#tab-2:checked ~ .tabs-row .tab-2,
#tab-2:checked ~ .tabs-row .tab-3,#tab-2:checked ~ .tabs-row .tab-4
	transform: translateX(-100%)
#tab-3:checked ~ .tabs-row .tab-1,#tab-3:checked ~ .tabs-row .tab-2,
#tab-3:checked ~ .tabs-row .tab-3,#tab-3:checked ~ .tabs-row .tab-4
	transform: translateX(-200%)
#tab-4:checked ~ .tabs-row .tab-1,#tab-4:checked ~ .tabs-row .tab-2,
#tab-4:checked ~ .tabs-row .tab-3,#tab-4:checked ~ .tabs-row .tab-4
	transform: translateX(-300%)
.marks
	height: 100%
	overflow: auto
	&-table
		min-width: 100%
		text-align: center
		font-size: 12px
		&-vertical
			div
				height: 180px!important
				&:nth-child(n + 3)
					position: relative
					span
						width: 200px
						position: absolute
						bottom: 100px
						left: -80px
						transform: rotate(-90deg)
						text-align: left
	.marks-head
		.row
			@extend %df
			text-transform: uppercase
			height: initial
			border-bottom: 1px solid $blue
			div
				margin-bottom: -1px
				font-family: $f_bold
				border-bottom: 1px solid $blue
				&:first-child,&:nth-child(2)
					@extend %df
					padding-bottom: 10px
					align-items: flex-end
					justify-content: center
					font-size: 16px
	&-body
		.row
			&:nth-child(2n - 1)
				&,div
					background-color: #F0F0F3
	.row
		@extend %df
		div
			@extend %dfc
			height: 30px
			position: relative
			&:first-child
				flex: 0 0 40px
			&:nth-child(2)
				flex: 0 0 250px
			&:nth-child(n + 3)
				font-family: $f_bold
				flex: 0 0 40px
	input
		width: 17px
		height: 17px
		background-color: $white
		border: 1px solid $blue
		border-radius: 3px
		text-align: center
		position: absolute
		top: 20px
		opacity: 0
		visibility: hidden
		&.active
			opacity: 1
			visibility: visible
	button
		@extend %dfc
		+wh(17px)
		margin: 0 auto
	&-add-btn
		background-color: $orange
		border-radius: 3px
		img
			display: block
			transform: rotate(45deg)
	&-mini
		.marks
			&-head
				.row
					div
						height: 100px
			&-body
				.row
					&:nth-child(1n + 3)
						div
							span
								width: 50px
								bottom: 30px
								left: -5px

.add-mark
	&-inner
		width: 95%
		max-width: 536px
		padding: 20px
		background-color: $white
	&-title
		font-family: $f_heavy
		font-size: 18px
	&-block
		margin-top: 10px
		&-title
			margin-right: 5px
			font-family: $f_bold
		&-row
			@extend %df
			margin-top: 4px
		&-H
			flex: 0 0 40px
			margin-left: 30px
			background-color: $orange
			border-radius: 3px
			font-family: $f_heavy
			font-size: 32px
			color: $white
			&.active
				background-color: $viol
		input,textarea
			width: 100%
			padding: 11px
			background-color: $white
			border-radius: 3px
			border: 1px solid $blue
			&[disabled='true']
				border-color: rgba($blue,.5)
		textarea
			height: 100px
			resize: none
	.button
		margin-top: 20px







