.section
	+w($tablet-large-width)
.title
	font-size: 42px
main
	padding-top: 150px
.head
	padding: 38px 0
	&-logo
		flex-basis: 111px
		font-size: 24px

.login
	font-size: 14px
	&-title
		font-size: 72px
	&-subtitle
		margin-bottom: 48px
		font-size: 18px

.main-page
	&-row
		margin-top: 35px
	&-link
		width: calc((100% - 51px) / 3)

.pupil
	margin-top: 30px
	flex-wrap: nowrap
	&-photo
		+wh(277px,220px)
		flex: 0 0 277px
		padding: 20px
	&-info
		margin-right: 20px
		padding: 18px 16px 27px
		order: 0

.journal
	&-row
		padding: 0
		justify-content: flex-start
		.block
			flex-basis: initial
			height: 50px
			padding: 0 10px
			&-line
				padding: 0 0 0 18px
				&::after
					+af
					+wh(1px,100%)
					margin-left: 22px
					background-color: $blue
	&-body
		height: calc(100vh - 305px)
		margin-top: 30px
		padding: 19px
.list
	table
		div
			padding: 19px 5px
	th,td
		&:first-child,&:last-child
			&,div
				width: 70px

.marks
	&-body
		.row
			div
				height: 50px
.add-mark
	&-inner
		padding: 30px 20px
	&-title
		font-size: 32px
	&-block
		margin-top: 15px
		input,textarea
			padding: 10px 15px
	.button
		margin-top: 30px
.teacher
	.journal
		&-body
			height: calc(100vh - 305px)