.marks-table
	.marks-table-row
		div
			span №
		div
			span ФИО
		div
			span Казахский язык
		div
			span Русский язык
		div
			span Иностранный язык
		div
			span Музыка
		div
			span Физическая культура
		div
			span Естествознание
		div
			span Математика
	.marks-table-row
			div 1
			div Иванов Иван Иванович
			div 5
			div 4
			div 3
			div 2
			div 1
			div 2
			div 1