.marks-table
	.marks-head
		.row.marks-table-vertical
			div
				span №
			div
				span ФИО
			div
				span 03.03
			div
				span 04.03
			div
				span 05.03
			div
				span 06.03
			div
				span 07.03
			div
				span 08.03
			div
				span 09.03
	.marks-body
		.row
			div 1
			div Иванов Иван Иванович
			div
				button(type='button' data-click-action='Front:showPop' data-target='add-mark').marks-add-btn
					+img('close.svg')
			div
				button(type='button' data-click-action='Front:showPop' data-target='add-mark').marks-add-btn
					+img('close.svg')
			div
				button(type='button' data-click-action='Front:showPop' data-target='add-mark').marks-add-btn
					+img('close.svg')
			div
				button(type='button' data-click-action='Front:showPop' data-target='add-mark').marks-add-btn
					+img('close.svg')
			div
				button(type='button' data-click-action='Front:showPop' data-target='add-mark').marks-add-btn
					+img('close.svg')
			div
				button(type='button' data-click-action='Front:showPop' data-target='add-mark')
					span 5
			div
				button(type='button' data-click-action='Front:showPop' data-target='add-mark')
					span Н
