.marks-table
	.marks-head
		.row
			div
				span №
			div
				span ФИО
			div
				span 03.03
			div
				span 04.03
			div
				span 05.03
			div
				span 06.03
			div
				span 07.03
			div
				span 08.03
			div
				span 09.03
	.marks-body
		.row
			div 1
			div Иванов Иван Иванович
			div
				input(type='text')
				button(type='button' data-click-action='Front:showMarkInput')
					+img('close.svg')
			div
				input(type='text')
				button(type='button' data-click-action='Front:showMarkInput')
					+img('close.svg')
			div
				input(type='text')
				button(type='button' data-click-action='Front:showMarkInput')
					+img('close.svg')
			div
				input(type='text')
				button(type='button' data-click-action='Front:showMarkInput')
					+img('close.svg')
			div
				input(type='text')
				button(type='button' data-click-action='Front:showMarkInput')
					+img('close.svg')
			div
				input(type='text')
				button(type='button' data-click-action='Front:showMarkInput')
					+img('close.svg')
			div
				input(type='text')
				button(type='button' data-click-action='Front:showMarkInput')
					+img('close.svg')
		.row
			div 1
			div Иванов Иван Иванович
			div
				input(type='text')
				button(type='button' data-click-action='Front:showMarkInput')
					+img('close.svg')
			div
				input(type='text')
				button(type='button' data-click-action='Front:showMarkInput')
					+img('close.svg')
			div
				input(type='text')
				button(type='button' data-click-action='Front:showMarkInput')
					+img('close.svg')
			div
				input(type='text')
				button(type='button' data-click-action='Front:showMarkInput')
					+img('close.svg')
			div
				input(type='text')
				button(type='button' data-click-action='Front:showMarkInput')
					+img('close.svg')
			div
				input(type='text')
				button(type='button' data-click-action='Front:showMarkInput')
					+img('close.svg')
			div
				input(type='text')
				button(type='button' data-click-action='Front:showMarkInput')
					+img('close.svg')
