extends template/main
append vars
	-
		page_title = 'Картотека'
block content
	main
		section.card
			.section
				h1.title
					span Картотека учащихся
				.card-block.row
					form.card-filter-form
						.select.wide
							input(type='hidden' name='class-select')
							button(type='button' data-click-action='Front:selectToActive').select-head
								span Класс
								+img('select-arrow.svg')
							.select-body
								button(type='button' data-click-action='Front:selectToInactive').select-option Все классы
								-for (let i = 1; i <= 4; i++)
									button(type='button' data-click-action='Front:selectToInactive').select-option!=i
										|а класс
									button(type='button' data-click-action='Front:selectToInactive').select-option!=i
										|б класс
									button(type='button' data-click-action='Front:selectToInactive').select-option!=i
										|в класс
					.card-button-cont.cont
						.card-button
							button(data-click-action='Front:showForm').button
								span Добавить класс
						form.form.card-form.active
							.select.form-select
								input(type='hidden' name='class-select')
								button(type='button' data-click-action='Front:selectToActive').select-head
									span Класс
									+img('select-arrow.svg')
								.select-body
									-for (let i = 1; i <= 5; i++)
										button(type='button' data-click-action='Front:selectToInactive').select-option!=i
							.select.form-select
								input(type='hidden' name='class-select')
								button(type='button' data-click-action='Front:selectToActive').select-head
									span Язык обучения
									+img('select-arrow.svg')
								.select-body
									button(type='button' data-click-action='Front:selectToInactive').select-option Русский
							input(type='text' placeholder='Название класса').form-input
							button.button.form-submit
								span Добавить
					.card-button-cont.cont
						.card-button
							button(data-click-action='Front:showForm').button
								span Добавить ученика
						form.form.card-form.active
							.select.form-select
								input(type='hidden' name='class-select')
								button(type='button' data-click-action='Front:selectToActive').select-head
									span Класс
									+img('select-arrow.svg')
								.select-body
									-for (let i = 1; i <= 4; i++)
										button(type='button' data-click-action='Front:selectToInactive').select-option!=i
											|а класс
										button(type='button' data-click-action='Front:selectToInactive').select-option!=i
											|б класс
										button(type='button' data-click-action='Front:selectToInactive').select-option!=i
											|в класс
							input(type='text' placeholder='Имя').form-input
							input(type='text' placeholder='Фамилия').form-input
							input(type='text' placeholder='Отчество').form-input
							input(type='text' placeholder='Домашний адрес').form-input
							button.button.form-submit
								span Добавить
				.card-block.row
					h3.subtitle Фильтр:
					.select.filter-select.wide
						button(type='button' data-click-action='Front:selectToActive').select-head
							span Пол
							+img('select-arrow.svg')
						.select-body
							button(type='button' data-click-action='Front:selectToInactive').select-option Муж
							button(type='button' data-click-action='Front:selectToInactive').select-option Жен
					.select.filter-select.wide
						button(type='button' data-click-action='Front:selectToActive').select-head
							span Возраст
							+img('select-arrow.svg')
						.select-body
							-for(let i = 6; i < 15; i++)
								button(type='button' data-click-action='Front:selectToInactive').select-option!=i
				.card-block
					.table
						table
							thead
								tr
									th
										span №
									th
										span Фамилия
									th
										span Имя
									th
										span Отчество
									th
										span Класс
									th
										span Адрес
									th
										span #
							tbody
								-for (let i = 1; i < 6; i++)
									tr
										td
											span!=i
										td
											span Иванов
										td
											span Иван
										td
											span Иванович
										td
											span 1а
										td
											span ул.Металлистов д.150 кв.2
										td
											div
												a(href='/pupil-file.html')
													+img('pencil.svg')
												button(data-click-action='Front:showPop' data-target='card-parents')
													+img('parents.svg')
				.pop.card-parents
					.pop-inner
						.pupil-parents
							.row
								.col
									.parents-photo
										+img('mother.svg')
									.parents-info
										span.parents-info-title Фамилия
										span.parents-info-text Давыдова
									.parents-info
										span.parents-info-title Имя
										span.parents-info-text Мария
									.parents-info
										span.parents-info-title Отчество
										span.parents-info-text Александровна
									.parents-info
										span.parents-info-title Телефон
										span.parents-info-text +7 777 777 77 77
									.parents-info
										span.parents-info-title E-mail
										span.parents-info-text DAMari@mail.ru
									.parents-info
										span.parents-info-title Дата рождения
										span.parents-info-text 03.06.1954
									.parents-info
										span.parents-info-title Место работы
										span.parents-info-text ОАО "СельхозМашины"
									.parents-info
										span.parents-info-title Должность
										span.parents-info-text Тракторист
									.parents-info
										span.parents-info-title Адрес
										span.parents-info-text г.Костанай ул.Ленина д.503 кв.106
								.col
									.parents-photo
										+img('father.svg')
									.parents-info
										span.parents-info-title Фамилия
										span.parents-info-text Давыдов
									.parents-info
										span.parents-info-title Имя
										span.parents-info-text Святозар
									.parents-info
										span.parents-info-title Отчество
										span.parents-info-text Ярославович
									.parents-info
										span.parents-info-title Телефон
										span.parents-info-text +7 777 777 77 77
									.parents-info
										span.parents-info-title E-mail
										span.parents-info-text TheBest@selHozMash.ru
									.parents-info
										span.parents-info-title Дата рождения
										span.parents-info-text 25.08.1952
									.parents-info
										span.parents-info-title Место работы
										span.parents-info-text ОАО "СельхозМашины"
									.parents-info
										span.parents-info-title Должность
										span.parents-info-text Директор
									.parents-info
										span.parents-info-title Адрес
										span.parents-info-text г.Костанай ул.Ленина д.503 кв.106
					.pop-bgc(data-click-action='Front:closePop')
