extends template/main
append vars
	-
		page_title = 'Журнал успеваемости'
block content
	main
		section.journal
			.section
				h1.title
					span Журнал успеваемости
				.journal-row
					.block.block-line
						.select.wide
							button(type='button' data-click-action='Front:selectToActive').select-head
								span Класс
								+img('select-arrow.svg')
							.select-body
								-for(let i = 1; i < 4; i++)
									button(type='button' data-click-action='Front:selectToInactive').select-option!=i
										| а
									button(type='button' data-click-action='Front:selectToInactive').select-option!=i
										| б
									button(type='button' data-click-action='Front:selectToInactive').select-option!=i
										| в
					.block
						a(href='/journal-list.html').journal-link
							span Общий лист всеобуча
					.block
						a(href='#').journal-link.active
							span Общие сведения
					.block
						a(href='/journal-schoolRecord.html').journal-link
							span Свод успеваемости
					.block
						a(href='/journal-marks.html').journal-link
							span Критеримальные оценки
					.block
						a(href='/journal-settings.html').journal-link
							span Настройки
				.journal-body
					.list
						table
							thead
								tr
									th
										div №
									th
										div Фамилия
									th
										div Имя
									th
										div Отчество
									th
										div Класс
									th
										div Адрес
									th
										div #
							tbody
								tr
									td
										div 1
									td
										div Иванов
									td
										div Иван
									td
										div Иванович
									td
										div 1б
									td
										div ул.Металлистов д.45 кв.122
									td
										div
											//button(data-click-action='Front:showPop' data-target='list-pop')
												+img('eye.svg')
											//button
												+img('delete.svg')
								tr
									td
										div 1
									td
										div Иванов
									td
										div Иван
									td
										div Иванович
									td
										div 1б
									td
										div ул.Металлистов д.45 кв.122
									td
										div
											//button(data-click-action='Front:showPop' data-target='list-pop')
												+img('eye.svg')
											//button
												+img('delete.svg')
								tr
									td
										div 1
									td
										div Иванов
									td
										div Иван
									td
										div Иванович
									td
										div 1б
									td
										div ул.Металлистов д.45 кв.122
									td
										div
											//button(data-click-action='Front:showPop' data-target='list-pop')
												+img('eye.svg')
											//button
												+img('delete.svg')
					