extends template/main
append vars
	-
		page_title = 'Журнал успеваемости'
block content
	main
		section.journal
			.section
				h1.title
					span Журнал успеваемости
				.journal-row
					.block.block-line
						.select.wide
							button(type='button' data-click-action='Front:selectToActive').select-head
								span Класс
								+img('select-arrow.svg')
							.select-body
								-for(let i = 1; i < 4; i++)
									button(type='button' data-click-action='Front:selectToInactive').select-option!=i
										| а
									button(type='button' data-click-action='Front:selectToInactive').select-option!=i
										| б
									button(type='button' data-click-action='Front:selectToInactive').select-option!=i
										| в
					.block
						a(href='/journal-list.html').journal-link
							span Общий лист всеобуча
					.block
						a(href='/journal-data.html').journal-link
							span Общие сведения
					.block
						a(href='/journal-schoolRecord.html').journal-link
							span Свод успеваемости
					.block
						a(href='/journal-marks.html').journal-link.active
							span Критеримальные оценки
					.block
						a(href='/journal-settings.html').journal-link
							span Настройки
				.journal-body
					.tabs
						input(type='radio' name='tabs' checked)#tab-1
						input(type='radio' name='tabs')#tab-2
						input(type='radio' name='tabs')#tab-3
						input(type='radio' name='tabs')#tab-4
						.labels-row
							label(for='tab-1') 1 четверть
							label(for='tab-2') 2 четверть
							label(for='tab-3') 3 четверть
							label(for='tab-4') 4 четверть
						.tabs-row
							.tab.tab-1.marks.marks-mini
								include parts/marks
							.tab.tab-2.marks.marks-mini
								include parts/marks
							.tab.tab-3.marks.marks-mini
								include parts/marks
							.tab.tab-4.marks.marks-mini
								include parts/marks
						.add-mark.pop
							form.add-mark-inner.pop-inner
								h3.add-mark-title
									span Иванов Иван Иванович
								.add-mark-block
									span.add-mark-block-title Дата:
									span 01.03.2021
								.add-mark-block
									span.add-mark-block-title Тема урока:
									span Умная страничка. Повторяем, закрепляем.
								.add-mark-block
									.add-mark-block-title Оценка
									.add-mark-block-row
										input(type='text')
										button(type='button' data-click-action='Front:addSpace').add-mark-block-H
											span Н
								.add-mark-block
									.add-mark-block-title Комментарий
									.add-mark-block-row
										textarea
								button.button
									span Сохранить
							.pop-bgc(data-click-action='Front:closePop')

					