extends template/main
append vars
	-
		page_title = 'Журнал успеваемости'
block content
	main
		section.journal
			.section
				h1.title
					span Журнал успеваемости
				.journal-row
					.block
						.select.wide
							button(type='button' data-click-action='Front:selectToActive').select-head
								span Класс
								+img('select-arrow.svg')
							.select-body
								-for(let i = 1; i < 4; i++)
									button(type='button' data-click-action='Front:selectToInactive').select-option!=i
										| а
									button(type='button' data-click-action='Front:selectToInactive').select-option!=i
										| б
									button(type='button' data-click-action='Front:selectToInactive').select-option!=i
										| в
					.block
						a(href='#').journal-link.active
							span Общий лист всеобуча
					.block
						a(href='#').journal-link
							span Общие сведения
					.block
						a(href='#').journal-link
							span Свод успеваемости
					.block
						a(href='#').journal-link
							span Критеримальные оценки
					.block
						a(href='#').journal-link
							span Настройки
				.journal-body
					.list
						h3.list-title Основной список учащихся
						table
							thead
								tr
									th
										div №
									th
										div ФИО
									th
										div #
							tbody
								tr
									td
										div 1
									td
										div Иванов Иван Иванович
									td
										div
											button
												+img('eye.svg')
											button
												+img('delete.svg')
								tr
									td
										div 1
									td
										div Иванов Иван Иванович
									td
										div
											button
												+img('eye.svg')
											button
												+img('delete.svg')
								tr
									td
										div 1
									td
										div Иванов Иван Иванович
									td
										div
											button
												+img('eye.svg')
											button
												+img('delete.svg')
						form.list-pop
							.list-pop-inner
								h5.list-pop-title Иванов Иван Иванович
								.block
									span Дата добавления в журнал
									input(type='text' value='14.08.2020')
								.block
									span Учится в классе с даты
									input(type='text' value='14.08.2020')
								.block
									span Учится в классе до даты
									input(type='text' value='14.08.2020')
								.block
									span Информация о зачислении
									textarea 14.08.2020
								.block
									span Информация об отчислении удалении
									textarea 14.08.2020