extends template/main
append vars
	-
		page_title = 'Кабинет родителя'
block content
	main
		section.journal.teacher
			.section
				h1.title
					span Табель
				.journal-row
					.block
						a(href='/parent-schedule.html').journal-link
							span Расписание
					.block
						a(href='/parent-tasks.html').journal-link
							span Задания
					.block
						a(href='/parent-tabel.html').journal-link.active
							span Табель
					.block
						a(href='/parent-calendar.html').journal-link
							span Календарь
				.journal-body
					.tabs
						input(type='radio' name='tabs' checked)#tab-1
						input(type='radio' name='tabs')#tab-2
						input(type='radio' name='tabs')#tab-3
						input(type='radio' name='tabs')#tab-4
						.labels-row
							label(for='tab-1') 1 четверть
							label(for='tab-2') 2 четверть
							label(for='tab-3') 3 четверть
							label(for='tab-4') 4 четверть
						.tabs-row
							.tab.tab-1
								ul.tabel-list
									-for(let i = 0; i < 9; i++)
										li.tabel-item
											h3.tabel-title Математика
											.row
												.left
													-for(let i = 0; i < 8; i++)
														span 7/10
												.right
													strong
														span Сор:&nbsp;
															em 14/14
													strong
														span Соч:&nbsp;
															em 14/14
							.tab.tab-2
							.tab.tab-3
							.tab.tab-4