extends template/main
append vars
	-
		page_title = 'Кабинет преподавателя'
block content
	main
		section.journal
			.section
				h1.title
					span Кабинет преподавателя
				.journal-row
					.block
						a(href='/teacher-schedule.html').journal-link
							span Расписание
					.block
						a(href='/teacher-leadership.html').journal-link
							span Классное руководство
					.block
						a(href='/teacher-plans.html').journal-link.active
							span Планы
					.block
						a(href='/teacher-cabinets.html').journal-link
							span Мои кабинеты
					.block
						a(href='/teacher-settings.html').journal-link
							span Настройки
				.journal-body
					.table
						.table-head
							span.table-number №
							span.table-second Фамилия
							span.table-name Имя
							span.table-father Отчество
							span.table-class Класс
							span.table-address Адрес
							span Адрес Родителей
						.table-body
							.table-row
								span.table-number 1
								span.table-second Иванов
								span.table-name Иван
								span.table-father Иванович
								span.table-class 1а
								span.table-address ул.Металлистов д.150 кв.2
								span ул.Металлистов д.150 кв.2