extends template/main
append vars
	-
		page_title = 'Кабинет преподавателя'
block content
	main
		section.journal.teacher
			.section
				h1.title
					span Кабинет преподавателя
				.journal-row
					.block
						a(href='/teacher-schedule.html').journal-link
							span Расписание
					.block
						a(href='/teacher-leadership.html').journal-link
							span Классное руководство
					.block
						a(href='/teacher-plans.html').journal-link
							span Планы
					.block
						a(href='/teacher-settings.html').journal-link.active
							span Настройки
				.pupil
					.pupil-info
						form
							.pupil-input-block
								span Имя
								input(type='text' placeholder='Иван').pupil-input
							.pupil-input-block
								span Фамилия
								input(type='text' placeholder='Иванов').pupil-input
							.pupil-input-block
								span Отчество
								input(type='text' placeholder='Иванович').pupil-input
							.pupil-input-block
								span Дата рождения
								input(type='text' placeholder='24.08.2008').pupil-input
							.pupil-input-block
								span ИИН
								input(type='text' placeholder='080824366460').pupil-input
							.pupil-input-block
								span Национальность
								input(type='text' placeholder='Русский').pupil-input
					.pupil-photo
						+img('no-photo.svg')
						button.pupil-photo-button.close
							+img('close.svg')
						input(type='file' accept="image/*").pupil-photo-add
						.pupil-photo-button.add
							+img('close.svg')