extends template/main
append vars
	-
		page_title = 'Кабинет преподавателя'
block content
	main
		section.journal.teacher
			.section
				h1.title
					span Кабинет преподавателя
				.journal-row
					.block
						a(href='/teacher-schedule.html').journal-link
							span Расписание
					.block
						a(href='/teacher-leadership.html').journal-link.active
							span Классное руководство
					.block
						a(href='/teacher-plans.html').journal-link
							span Планы
					.block
						a(href='/teacher-settings.html').journal-link
							span Настройки
				.journal-body
					.select
						input(type='hidden' name='class-select')
						button(type='button' data-click-action='Front:selectToActive').select-head
							span Год
							+img('select-arrow.svg')
						.select-body
							-for (let i = 2020; i <= 2030; i++)
								button(type='button' data-click-action='Front:selectToInactive').select-option!=i
					.table
						table
							thead
								tr
									th
										span №
									th
										span Предмет
									th
										span Класс
									th
										span Дата создания
									th
										span Период преподавания
									th
										div #
							tbody
								-for (let i = 0; i < 20; i++)
									tr
										td
											span 1
										td
											span Физическая культура
										td
											span 2В
										td
											span 19.08.2020
										td
											span 2020-09-01: 2021-05-25
										td
											div
												a(href='#')
													+img('pencil.svg')