extends template/main
append vars
	-
		page_title = 'Кабинет преподавателя'
block content
	main
		section.journal.teacher
			.section
				h1.title
					span Кабинет преподавателя
				.journal-row
					.block
						a(href='/teacher-schedule.html').journal-link
							span Расписание
					.block
						a(href='/teacher-leadership.html').journal-link
							span Классное руководство
					.block
						a(href='/teacher-plans.html').journal-link.active
							span Планы
					.block
						a(href='/teacher-settings.html').journal-link
							span Настройки
				.journal-body
					.plans-row
						.select
							input(type='hidden' name='class-select')
							button(type='button' data-click-action='Front:selectToActive').select-head
								span Год
								+img('select-arrow.svg')
							.select-body
								-for (let i = 2020; i <= 2030; i++)
									button(type='button' data-click-action='Front:selectToInactive').select-option!=i
						button.button(data-click-action='Front:showPop' data-target='plans-add')
							span Добавить
					.tabs
						input(type='radio' name='tabs' checked)#tab-1
						input(type='radio' name='tabs')#tab-2
						input(type='radio' name='tabs')#tab-3
						input(type='radio' name='tabs')#tab-4
						.labels-row
							label(for='tab-1') 1 четверть
							label(for='tab-2') 2 четверть
							label(for='tab-3') 3 четверть
							label(for='tab-4') 4 четверть
						.tabs-row
							.tab.tab-1
								.table.teacher-plans-table
									table
										thead
											tr
												th
													span №
												th
													span Тема
												th
													span Дата
												th
													span Домашнее задание
												th
													span Материалы
												th
													div Оценки
										tbody
											-for (let i = 0; i < 20; i++)
												tr
													td
														span 1
													td
														span Техника безопасности.Обзор основных понятий здоровья
													td
														span 02.09.2021
													td
														span Повт.техн.безоп.
													td
														span 2020-09-01: 2021-05-25
													td
														div
															button(data-click-action='Front:showPop' data-target='plans-add')
																+img('eye.svg')
							.tab.tab-2
							.tab.tab-3
							.tab.tab-4

					.plans-add.pop.add-mark
						form.add-mark-inner.pop-inner
							h3.add-mark-title
								span Физическая культура 1а
							.add-mark-block
								.add-mark-block-title Тема урока:
								.add-mark-block-row
									input(type='text')
							.add-mark-block
								.add-mark-block-title Дата проведения урока:
								.add-mark-block-row
									input(type='text')
							.add-mark-block
								.add-mark-block-title Домашнее задание:
								.add-mark-block-row
									textarea
							.add-mark-block
								.add-mark-block-title Материалы:
								.add-mark-block-row.add-file-row
									.add-file
										input(type='file' data-change-action='Front:addFile')
										div
											+img('big-plus.svg')
						.pop-bgc(data-click-action='Front:closePop')